@charset "UTF-8";
/* This CSS File was created by www.pixelateddesign.co.uk */
/* This is free if you have purchased this templete please contact us useign the email */
/* info@pixelateddesign.co.uk along with the amount you payed for your website */

/* This file remains property of www.pixelateddesign.co.uk however this is free to use for personal use */

body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	
}

img {padding-right:10px;
padding-top:0;}

form {float:right;
margin-right:30px;}

a {text-decoration:none;}





#content_container {
width:900px;
display: block;
 margin: 0 auto; 

/*	margin-left:auto;
	margin-right:auto;
	width:900px;
	height: 850px;
	background-attachment: scroll;
//	background-image: url(../images/Untitled-4.png);
	background-repeat: no-repeat;
	background-position: right center;*/
} 

#logo_container {
	height:90px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}



#logo_image {
	width:255px;
	height:75px;
	margin-left:10px;
	margin-top:15px;
	float:left;
	background-image: url(../images/logo.gif);
}

#top_bar_black {
	width:100%;
	height:90px;
	background-color:#000000;
}

#bottom_bar_black {
    //display: block;
	width:100%;
	height:90px;
	background-color:#000000;
	float:none;
	clear: left;
	padding-top:15px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

#nav_block {
	width: 400px;
	height:90px;
	float:right;
}

.nav_button {
	width: 70px; /*This number you can edit when you need to add more with to fit your text inside the button */
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:5px;
	margin-top:35px;
	text-align:center;
	float:left;
}

.nav_button:link {
	text-decoration:none;
}

.nav_button:hover {
	text-decoration:none;
	background-color:#333333;
}

#header {
	width:500px;
	margin-top:30px;
	margin-bottom:50px;
	float: left;
}

.header_content_mainline {
	font-size:35px;
	color:#000000;
	width:500px;
	font-style: italic;
}

#header_content_boxline {
	font-size:35px;
	color:#000000;
	width:400px;
	font-style: italic;
}

#header_content_lowerline {
	font-size:35px;
	color:#FFFFFF;
	width:400px;
	font-style: italic;
}

#header_content_boxcontent {
	font-size:14px;
	color:#333333;
	width:420px;
	font-style: italic;
	text-align: justify;
}

#header_content_boxcontent_double {
	font-size:14px;
	color:#333333;
	width:890px;
	font-style: italic;
	text-align: justify;
}

#header_content_lowerboxcontent {
	font-size:12px;
	color:#CCCCCC;
	width:420px;
}

#header_content_tagline {
	font-size:12px;
	color:#333333;
	width:500px;
}

#header_lower {
	width:420px;
	float:left;
	margin-right:30px;
	margin-top:30px;
}

/*Warning removing this means you must pay for this templete if you remove this you will be located and this will result in payment being required*/

#copywriteblock {
	margin-left:auto;
	margin-right:auto;
	width: 900px;
	color:#333333;
	font-size:10px;
	margin-top:10px;
	text-align:right;
	text-decoration:none;
	margin-bottom:10px;
}
